---

#### Pull SonarQube (CI/CD) Github Repo

- name: Pull SonarQube Github
  git:
    repo: "{{ GITHUB_REPO }}"
    dest: "{{ DIRECTORY }}"
    version: "{{ BRANCH }}"
    clone: yes

#### Retrive SonarQube Yaml File

- find:
    paths: "{{ DIRECTORY }}"
    patterns: "*.yaml"
    recurse: yes
  register: sonarqube_files  

#### Install SonarQube => (Code Scanner)

- name: Install SonarQube => (Code Scanner)
  k8s:
    src: "{{ item }}"
  loop: "{{ sonarqube_files.files | sort(attribute='path')|json_query('[].path') }}"
  
#### Check SonarQube Accessability

- name: Check SonarQube Accessability
  shell: if [ $({{ SONARQUBE_ACCESS }}) ]; then exit 0; else exit 1; fi;
  register: wait_for_ext_ip
  until: wait_for_ext_ip.rc == 0
  retries: 10
  delay: 5

#### Get SonarQube Accessability Dashboard

- name: Get SonarQube Accessability Dashboard
  command: "{{ SONARQUBE_ACCESS_HOSTNAME }}"
  register: sonarqube
  when: wait_for_ext_ip.rc == 0
  notify: print-dashboard

