---

#### Pull Elk Github Repo

- name: Pull ELK => (ELASTIC STACK) Github Repo
  git:
    repo: "{{ GITHUB_REPO }}"
    dest: "{{ DIRECTORY }}"
    version: "{{ BRANCH }}"
    clone: yes

#### Install Elk Github Repo

- name: Install ELK => (ELASTIC STACK)
  kubernetes.core.helm:
    name:  "{{ item.NAME }}"
    chart_ref: "{{ item.REF }}"
    release_namespace: default
  loop:
    - NAME: filebeat
      REF: elk/filebeat
    - NAME: logstash
      REF: elk/logstash
    - NAME: elasticsearch
      REF: elk/elasticsearch
    - NAME: kibana
      REF: elk/kibana

#### Check Kibana Accessability

- name: Check Kibana Accessability
  shell: if [ $("{{ KIBANA_ACCESS }}") ]; then exit 0; else exit 1; fi;
  register: wait_for_ext_ip
  until: wait_for_ext_ip.rc == 0
  retries: 10
  delay: 5

#### Get Kibana Accessability Dashboard

- name: Get Kibana Accessability Dashboard
  command: "{{ KIBANA_ACCESS_HOSTNAME }}"
  register: kibana
  when: wait_for_ext_ip.rc == 0
  notify: print-dashboard